body{
  font-family: 'Open Sans', sans-serif;   
  background-color: #fff; 
}
#pic{
  text-align: center;
  margin: auto;
  width: 350px;
}
#pic img{
  margin-top: 64px;
  margin-bottom: 32px;
}
h1{
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #3F3D56;
  text-align: center;
  margin-bottom: 16px;
}
h1 span{
  color: #EE24FF;
}
.paragraph{
  text-align: center;
  color: #828282;
  font-weight: 400;
  font-size: 15px;
}
.first{
  line-height: 22px;
}
.second{
  font-style: normal;
  line-height: 22px;
  margin-bottom: 32px;
}
.third{
  font-style: normal;
  line-height: 20px;
  margin-bottom: 64px;
}
body b{
  color: #3F3D56;
}
#line{
  width: 391px;
  height: 0px;

  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #ECEFF2;
}
.botoes{
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 147.68%;
  margin-bottom: 40px;
}
#footer{
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 147.68%;
  width: 100%;
}
a{
  color: #3F3D56;
  margin-left: 42px;
}