body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  
  background: #2C2B3D;
  min-height: 100vh;
}
.page{
  width: 1280px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 71px;
  margin-bottom: 101px;
}
ul{
  display: flex;
  gap: 64px;
  list-style: none;
}
ul a{
  font-family: 'JetBrains Mono', monospace;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
}
ul li a{
  opacity: 0,5;
}
ul li a:hover{
  font-weight: bold;
  opacity: 1;
}
main{
  margin-left: 99px;
  width: 1092px;

  display: flex;
  justify-content: space-between;
  gap: 82px;
}
h1{
  font-family: 'JetBrains Mono', monospace;
  color: #FFF;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 59px;
}
h1 span{
  color: #00BFA6;
}
section p{
  font-family: 'Open Sans', sans-serif;
  color:  #C2C2C2;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

}
section p span{
  color: #00BFA6;
}

.line{
  width: 568px;
  height: 0px;
  border: 1px solid #00BFA6;
  margin-top: 157px;
  margin-left: 356px;
}
footer p{
  color: #FFF;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 27px;
}
footer p a{
  color: #FFF;
  text-decoration: none;
}
.padlock{
  margin-bottom: 0%;
  margin-left: 20px;
}

